{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
  {% block nav %}
  {% endblock %}
    <h1>Home</h1>

<div class="container">
    <div class="row">
        <div class="col">
            
        </div>

        <div class="col">
        <div class="row d-flex justify-content-center">
            <a href={{path("app_demand_index")}}>Demandes</a>
        </div>
        <div class="row d-flex justify-content-center">
            <a href={{path("app_proposal_index")}}>Propositions</a>
        </div>
            {% if app.user %}
        <div class="row d-flex justify-content-center">
            <a href={{path("my_demands")}}>Mes demandes</a>
        </div>
        <div class="row d-flex justify-content-center">
            <a href={{path("my_proposals")}}>Mes propositions</a>
        </div>
            {# <a href={{path("app_user_index")}}>Parametres</a> #}
            {% endif %}
        </div>

        <div class="col">
            
        </div>
    </div> 
</div>   
{% endblock %}
