

<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container-fluid">
    <a id="idtest" class="navbar-brand" href="{{ path('app_demand_index') }}">
      <svg height="32" viewBox="0 0 252 121" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="nav-brand" d="M118 108.5C118 114.299 113.299 119 107.5 119C101.701 119 97 114.299 97 108.5C97 102.701 101.701 98 107.5 98C113.299 98 118 102.701 118 108.5Z" fill="white"/>
        <rect class="nav-brand" x="98" y="69" width="20" height="25" fill="white"/>
        <rect class="nav-brand" x="98" y="91" width="33" height="3" fill="white"/>
        <path id="nono" class="nav-brand" d="M145.688 26C145.688 27.5417 145.458 28.9167 145 30.125C144.542 31.375 143.708 32.5208 142.5 33.5625C141.292 34.6042 139.583 35.6458 137.375 36.6875C135.167 37.7708 132.271 38.875 128.688 40C124.604 41.3333 120.708 42.8333 117 44.5C113.333 46.2083 110.062 48.1875 107.188 50.4375C104.312 52.6875 102.042 55.3125 100.375 58.3125C98.75 61.3125 97.9375 64.8125 97.9375 68.8125C97.9375 72.6875 98.7917 76.1875 100.5 79.3125C102.208 82.4375 104.604 85.1042 107.688 87.3125C110.771 89.5625 114.396 91.2708 118.562 92.4375C122.729 93.6458 127.312 94.25 132.312 94.25C138.979 94.25 144.833 93.0625 149.875 90.6875C154.958 88.3542 158.917 85.0625 161.75 80.8125C164.583 76.6042 166 71.7083 166 66.125H145.75C145.75 68.5833 145.229 70.75 144.188 72.625C143.188 74.5417 141.646 76.0417 139.562 77.125C137.521 78.2083 134.958 78.75 131.875 78.75C128.875 78.75 126.354 78.2917 124.312 77.375C122.312 76.5 120.792 75.2917 119.75 73.75C118.75 72.2083 118.25 70.5208 118.25 68.6875C118.25 67.2292 118.625 65.8958 119.375 64.6875C120.167 63.5208 121.292 62.4167 122.75 61.375C124.25 60.375 126.083 59.4167 128.25 58.5C130.417 57.5833 132.896 56.7083 135.688 55.875C140.562 54.3333 144.875 52.625 148.625 50.75C152.417 48.875 155.604 46.75 158.188 44.375C160.771 42 162.708 39.3125 164 36.3125C165.333 33.3125 166 29.9167 166 26.125C166 22.0833 165.208 18.5 163.625 15.375C162.083 12.25 159.833 9.58333 156.875 7.375C153.958 5.20833 150.458 3.5625 146.375 2.4375C142.292 1.3125 137.729 0.75 132.688 0.75C128.104 0.75 123.583 1.33333 119.125 2.5C114.667 3.70833 110.625 5.54167 107 8C103.417 10.4583 100.542 13.5833 98.375 17.375C96.25 21.2083 95.1875 25.75 95.1875 31H115.562C115.562 28.25 115.958 25.9167 116.75 24C117.542 22.125 118.667 20.6042 120.125 19.4375C121.625 18.2708 123.438 17.4375 125.562 16.9375C127.688 16.4375 130.062 16.1875 132.688 16.1875C135.729 16.1875 138.188 16.6042 140.062 17.4375C141.979 18.3125 143.396 19.5 144.312 21C145.229 22.5 145.688 24.1667 145.688 26Z" fill="white"/>
        <path class="nav-brand" d="M45.3125 20.3125L21.8125 94H0.0625L33.75 3H47.5L45.3125 20.3125ZM64.8125 94L41.25 20.3125L38.8125 3H52.75L86.5625 94H64.8125ZM63.8125 60.125V75.875H16.375V60.125H63.8125ZM196.295 3V94H175.92V3H196.295ZM250.67 3L215.045 48.5L194.295 71L190.607 52.0625L204.295 32.4375L225.67 3H250.67ZM227.045 94L201.92 52.4375L217.42 40.375L251.17 94H227.045Z" fill="white"/>
      </svg>
    </a>
    <button style="width:100px;height:100px;" class="navbar-toggler m-auto text-light btn-primary rounded-circle blink" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    
    <svg height="32" viewBox="0 0 252 121" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M118 108.5C118 114.299 113.299 119 107.5 119C101.701 119 97 114.299 97 108.5C97 102.701 101.701 98 107.5 98C113.299 98 118 102.701 118 108.5Z" fill="white"/>
    <rect  x="98" y="69" width="20" height="25" fill="white"/>
    <rect x="98" y="91" width="33" height="3" fill="white"/>
    <path d="M145.688 26C145.688 27.5417 145.458 28.9167 145 30.125C144.542 31.375 143.708 32.5208 142.5 33.5625C141.292 34.6042 139.583 35.6458 137.375 36.6875C135.167 37.7708 132.271 38.875 128.688 40C124.604 41.3333 120.708 42.8333 117 44.5C113.333 46.2083 110.062 48.1875 107.188 50.4375C104.312 52.6875 102.042 55.3125 100.375 58.3125C98.75 61.3125 97.9375 64.8125 97.9375 68.8125C97.9375 72.6875 98.7917 76.1875 100.5 79.3125C102.208 82.4375 104.604 85.1042 107.688 87.3125C110.771 89.5625 114.396 91.2708 118.562 92.4375C122.729 93.6458 127.312 94.25 132.312 94.25C138.979 94.25 144.833 93.0625 149.875 90.6875C154.958 88.3542 158.917 85.0625 161.75 80.8125C164.583 76.6042 166 71.7083 166 66.125H145.75C145.75 68.5833 145.229 70.75 144.188 72.625C143.188 74.5417 141.646 76.0417 139.562 77.125C137.521 78.2083 134.958 78.75 131.875 78.75C128.875 78.75 126.354 78.2917 124.312 77.375C122.312 76.5 120.792 75.2917 119.75 73.75C118.75 72.2083 118.25 70.5208 118.25 68.6875C118.25 67.2292 118.625 65.8958 119.375 64.6875C120.167 63.5208 121.292 62.4167 122.75 61.375C124.25 60.375 126.083 59.4167 128.25 58.5C130.417 57.5833 132.896 56.7083 135.688 55.875C140.562 54.3333 144.875 52.625 148.625 50.75C152.417 48.875 155.604 46.75 158.188 44.375C160.771 42 162.708 39.3125 164 36.3125C165.333 33.3125 166 29.9167 166 26.125C166 22.0833 165.208 18.5 163.625 15.375C162.083 12.25 159.833 9.58333 156.875 7.375C153.958 5.20833 150.458 3.5625 146.375 2.4375C142.292 1.3125 137.729 0.75 132.688 0.75C128.104 0.75 123.583 1.33333 119.125 2.5C114.667 3.70833 110.625 5.54167 107 8C103.417 10.4583 100.542 13.5833 98.375 17.375C96.25 21.2083 95.1875 25.75 95.1875 31H115.562C115.562 28.25 115.958 25.9167 116.75 24C117.542 22.125 118.667 20.6042 120.125 19.4375C121.625 18.2708 123.438 17.4375 125.562 16.9375C127.688 16.4375 130.062 16.1875 132.688 16.1875C135.729 16.1875 138.188 16.6042 140.062 17.4375C141.979 18.3125 143.396 19.5 144.312 21C145.229 22.5 145.688 24.1667 145.688 26Z" fill="white"/>
    <path d="M45.3125 20.3125L21.8125 94H0.0625L33.75 3H47.5L45.3125 20.3125ZM64.8125 94L41.25 20.3125L38.8125 3H52.75L86.5625 94H64.8125ZM63.8125 60.125V75.875H16.375V60.125H63.8125ZM196.295 3V94H175.92V3H196.295ZM250.67 3L215.045 48.5L194.295 71L190.607 52.0625L204.295 32.4375L225.67 3H250.67ZM227.045 94L201.92 52.4375L217.42 40.375L251.17 94H227.045Z" fill="white"/>
    </svg>
     
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item text-center">
             <a class="nav-link text-light ms-3 me-3" href="{{ path('app_demand_index') }}">Voir demandes </a>
        </li>
        <li class="nav-item text-center">
            <a  class="nav-link text-light ms-3 me-3" href="{{ path('app_demand_new') }}"> 
            <span class="material-symbols-outlined align-middle" >
            add_circle
            </span>
            Créer une demande
            </a>
        </li>

        {# <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path("app_demand_index")}}">Demandes</a>
        </li>

          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path("app_proposal_index")}}">Propositions</a>
        </li> #}
        {# Display the link to access my_demand and my_proposal only to connected users #}
        {# {% if app.user %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path("app_proposal_new")}}">+</a>
        </li>
        {% endif %} #}
      </ul>
      {# <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form> #}
      {# Display the pseudo of the connected user and a link to logout only to connected users #}
      {% if app.user %}
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown text-center">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{app.user.pseudo}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li class="nav-item">
              <a class="dropdown-item" aria-current="page" href="{{path("my_demands")}}">Mes demandes</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" aria-current="page" href="{{path("app_my_demand_relations")}}">Messagerie</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item text-primary" href="{{ path('app_user_edit', {'id': app.user.id}) }}">Mon compte</a>
            </li>
            <li>
              <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>
          </ul>
        </li>
      </ul>
      {% endif %}

      {% if not app.user %}
      <ul class="navbar-nav">
        <li class="nav-item text-center">
            <a class="nav-link active" aria-current="page" href="{{path("app_register")}}">S'inscrire</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link active" aria-current="page" href="{{path("app_login")}}">Se connecter</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
