

<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_demand_index') }}">Help and Share</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 me-auto mb-2 mb-lg-0">
        <li class="nav-item">
             <a class="nav-link text-light ms-3 me-3" href="{{ path('app_demand_index') }}">Voir demandes </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light ms-3 me-3" href="{{ path('app_demand_new') }}"> + Créér une demande</a>
        </li>
        <li class="nav-item">
             <a class="nav-link text-light  ms-3 me-3" href="{{ path('my_demands') }}">Mes demandes </a>
        </li>

        {# <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path("app_demand_index")}}">Demandes</a>
        </li>

          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path("app_proposal_index")}}">Propositions</a>
        </li> #}
        {# Display the link to access my_demand and my_proposal only to connected users #}
        {# {% if app.user %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path("app_proposal_new")}}">+</a>
        </li>
        {% endif %} #}
      </ul>
      {# <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form> #}
      {# Display the pseudo of the connected user and a link to logout only to connected users #}
      {% if app.user %}
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{app.user.pseudo}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="navbarDropdown">
            <li class="nav-item">
              <a class="dropdown-item" aria-current="page" href="{{path("my_demands")}}">Mes demandes</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" aria-current="page" href="{{path("my_proposals")}}">Mes propositions</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" aria-current="page" href="{{path("app_my_demand_relations")}}">Messagerie</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item text-primary" href="{{ path('app_user_edit', {'id': app.user.id}) }}">Mon profil</a>
            </li>
            <li>
              <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>
          </ul>
        </li>
      </ul>
      {% endif %}

      {% if not app.user %}
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{path("app_register")}}">S'inscrire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{path("app_login")}}">Se connecter</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
