{% extends 'base.html.twig' %}

{% block title %}DemandRelation index{% endblock %}

{% block body %}
    <h1>DemandRelation index</h1>

    <table class="table">

        <tbody>
                    <tr>
            <thead>
            <td>Demandeur</td>
            <td>Répondant</td>
            
            </thead>
        {% for demand_relation in demand_relations %}


           
                
                <td>{{ demand_relation.getDemand().getUser().pseudo }}</td>
                
                <td>{{ demand_relation.getUser().pseudo }}</td>
                <td>{{ demand_relation.getDemand().getUser().location }}</td>
                <td>{{ demand_relation.getDemand().title }}</td>
                <td>
                    <a href="{{ path('app_my_message', {'id_demand_relation': demand_relation.id}) }}">show</a>
                </td>

            
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
