{% extends 'base.html.twig' %}

{% block title %}Proposal index{% endblock %}

{% block body %}

    {% include "partials/nav.html.twig" %}

    <h1>Proposal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Location</th>
                <th>Title</th>
                <th>Text</th>
                <th>Photo</th>
                <th>Date_created</th>
                <th>Date_modified</th>
                <th>Deleted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proposal in proposals %}

            {# Don't show the demand if is from the connected user and if he has deleted it #}
            {% if proposal.deleted == 0 %} 
                <tr>
                    <td>{{ proposal.user.pseudo }}</td>
                    <td>{{ proposal.user.location }}</td>
                    <td>{{ proposal.title }}</td>
                    <td>{{ proposal.text }}</td>
                    <td><img src="{{ proposal.photo }}" alt=""></td>
                    <td>{{ proposal.dateCreated ? proposal.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ proposal.dateModified ? proposal.dateModified|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ proposal.deleted ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_proposal_show', {'id': proposal.id}) }}">show</a>
                    </td>
                </tr>
            {% endif %} 

        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_proposal_new') }}">Create new</a>
{% endblock %}
