{% extends 'base.html.twig' %}

{% block title %}Demandes{% endblock %}

{% block body %}
<header class="pt-5 pb-5">
        {% if app.user %}
        {% endif %}
        <h1 class="text-center p-5" >Consultez les demandes sur ASK</h1>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10" style="min-width: 300px; max-width: 600px;">
                    <form method="post" action="{{ path('app_demand_index') }}" class="container d-flex" >
                        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-secondary border-2" type="submit">Search</button>
                    </form>
                </div>

            </div>
        </div>
</header>
{% for message in app.flashes('success') %}
    <div class="flash-notice alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('danger') %}
    <div class="flash-notice alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
<main class="p-5 test">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5 ">

        {% for demand in demands %}

            {# Don't show the demand if is from the connected user and if he has deleted it #}
            {% if demand.user != app.user and demand.deleted == 0 %} 

                <div class="col ">
                    <div class="card shadow border-0">
                        <div class="card-body ">
           
                            <div class="card-img-top photo-profile mt-3 mb-3">

                            {% if  demand.getUser().photo %}
                                <img src="{{ asset('photos/' ~ demand.getUser().photo) }}" alt="">
                            {% else %}
                                <img src="{{ asset('photos/default_photo_profil.png') }}" alt="">
                            {% endif %}
                            
                            </div>
                            <span class="card-text m-0 pe-2">{{ demand.getUser().pseudo}}</span>
                            
                            {% if app.user %}
                                {% if demand.isRelated(app.user) %}
                                    <a href="{{ path('app_like_index', {'id': demand.getUser().id}) }}" class="js-like">
                                {% endif %}
                                
                                {# If the user who posted this demand has 0 like  #}
                                {% if demand.getUser().getLikeds() | length is same as(0) %}
                                    <span class=" m-0 js-likes-length"></span>
                                {% else %}
                                    <span class=" m-0 js-likes-length">{{ demand.getUser().getLikeds() | length}}</span>
                                {% endif %}
                        
                                    {% if demand.getUser().isLikedByUser(app.user) %}                           
                                        <i class="fa-solid fa-thumbs-up"></i>
                                    {% else %}
                                        <i class="fa-regular fa-thumbs-up"></i>
                                    {% endif %}

                                {% if demand.isRelated(app.user) %}    
                                </a>
                                {% endif %}
                            
                            {% elseif not app.user %}

                                {% if demand.getUser().getLikeds() | length is same as(0) %}
                                    <span class=" m-0 js-likes-length"></span>
                                {% else %}
                                    <span class=" m-0 js-likes-length">{{ demand.getUser().getLikeds() | length}}</span>
                                {% endif %}
                                <i class="fa-regular fa-thumbs-up"></i>
                                
                            {% endif %}

                            <h5 class="card-title m-0 overflow-hidden" style="height: 24px;">{{ demand.title }}</h5>
                            <small class="text-muted"> {{ demand.getUser().location }}</small>
                            <p class="card-text mt-3 mb-3 overflow-hidden" style="height: 100px;">{{ demand.text }}</p>
                        </div>
                        <div class="card-footer d-flex flex-wrap justify-content-between ">
                        <a class="btn btn-primary  mt-3 mb-3" href="{{ path('app_demand_show', {'id': demand.id}) }}">Consulter</a>
                        {% if demand.dateModified %}
            
                            <small class="text-muted align-self-end">Modifié le {{ demand.dateModified ? demand.dateModified|date('d-m-Y') : '' }}</small>
                        {% else %}
            
                            <small class="text-muted align-self-end">Créé le {{ demand.dateCreated ? demand.dateCreated|date('d-m-Y') : '' }}</small>
                        {% endif %}
            
                        </div>
                    </div>   
                </div>              
            {% endif %}
        {% else %}
      
            <span>Aucun résultat</span>
                
        {% endfor %}
    </div>

</main>   
{% endblock %}
