{% extends 'base.html.twig' %}



{% block title %}Demand index{% endblock %}

{% block body %}

    {% if app.user %}
        <a href="{{ path('app_demand_new') }}">Create new</a>
    {% endif %}

    <h1>Demand index</h1>

    <table class="table">
        <tbody>
        {% for demand in demands %}

            {# Don't show the demand if is from the connected user and if he has deleted it #}
            {% if demand.user != app.user and demand.deleted == 0 %} 
                <tr>
                    <td>{{ demand.user.pseudo }}</td>
                    <td>{{ demand.user.location }}</td>
                    <td>{{ demand.title }}</td>
                    <td>{{ demand.text }}</td>
                    <td><img class="w-25" src="{{ asset('uploads/brochures/' ~ demand.photo) }}" alt=""></td>
                    <td>{{ demand.dateCreated ? demand.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ demand.dateModified ? demand.dateModified|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_demand_show', {'id': demand.id}) }}">show</a>
                    </td>
                </tr>
            {% endif %}   

        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
