{% extends 'base.html.twig' %}



{% block title %}Demandes{% endblock %}

{% block body %}

    <h1>Consultez les demandes de la commnauté Help and Share</h1>
    {% if app.user %}
    <div  class="text-center"> 
    <a href="{{ path('app_demand_new') }}"><button class="btn btn-primary">Créér une demande</button></a>
    </div>
       
    {% endif %}
        {% for demand in demands %}

            {# Don't show the demand if is from the connected user and if he has deleted it #}
            {% if demand.user != app.user and demand.deleted == 0 %} 
                
                <div class="card ml-auto mr-auto mt-5" style="width: 50%;">
                    <img class="card-img-top w-25" src="{{ demand.getUser().photo }}" alt="">
                    <div class="card-body">
                        <span class="card-title">{{ demand.user.pseudo }}</span>
                        <h5 class="card-title">{{ demand.title }}</h5>
                        <p class="card-text">{{ demand.text }}</p>
                        {% if demand.dateModified %}
                        <small>Modifié {{ demand.dateModified ? demand.dateModified|date('d-m-Y') : '' }}</small>
                        {% else %}
                        <small>Créé {{ demand.dateCreated ? demand.dateCreated|date('d-m-Y') : '' }}</small><br>
                        {% endif %}
                        
                     
                        <a href="{{ path('app_demand_show', {'id': demand.id}) }}">show</a>
                    </div>
                </div>
            {% endif %}   

        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}

    
{% endblock %}
