{% extends 'base.html.twig' %}



{% block title %}Demand index{% endblock %}

{% block body %}

    <h1>Demand index</h1>
    <a href="{{ path('app_demand_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Location</th>
                <th>Title</th>
                <th>Text</th>
                <th>Photo</th>
                <th>Date_created</th>
                <th>Date_modified</th>
                <th>Deleted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demand in demands %}

            {# Don't show the demand if is from the connected user and if he has deleted it #}
            {% if demand.deleted == 0 %} 
                <tr>
                    <td>{{ demand.user.pseudo }}</td>
                    <td>{{ demand.user.location }}</td>
                    <td>{{ demand.title }}</td>
                    <td>{{ demand.text }}</td>
                    <td><img src="{{ demand.photo }}" alt=""></td>
                    <td>{{ demand.dateCreated ? demand.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ demand.dateModified ? demand.dateModified|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ demand.deleted ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_demand_show', {'id': demand.id}) }}">show</a>
                    </td>
                </tr>
            {% endif %}   

        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
