{# 
Sent by DemandController : 
            'demand'    => ( ENTITY )   The instance from the request for "demand" )
            'relations' => ( OBJ )      All the demandRelation of this demand instance )
            'related'   => ( BOOL )     True if user is related w/ the demand, else false 
            'mine'      => ( BOOL )     True if the demand is from the connected user, else false
#}

{% extends 'base.html.twig' %}

{% block title %}Demand{% endblock %}

{% block body %}

{# {{  dump(demand) }} #}
{# {{  dump(relations) }} #}
{# {{  dump(related) }} #}
{# {{  dump(myDemand) }} #}

 <header class="pt-5 pb-5 d-flex flex-column">
        {% if app.user %}

            <div class="text-center mt-5"> 
                <a class="btn btn-success m-3" href="{{ path('app_demand_new') }}">Créér une demande</a>
                <a class="btn btn-primary m-3" href="{{ path('app_demand_index') }}">Voir demandes</a>
            </div>
            <h1 class="text-center p-5" >Mes demandes</h1>
            <img class="align-self-center card-img-top w-25 rounded-circle mt-3 mb-3"style="max-width: 200px" src="{{ app.user.photo }}" alt="">
        {% else %}
            <h1 class="text-center p-5" >Demande</h1>
        {% endif %}
</header>
<div class="p-5">
    <div class="row ">

        {# Don't show the demand if the demand is deleted #}
        {% if demand.deleted == 0 %} 

            <div class="col">
                <div class="card shadow border-0">
                    <div class="card-body ">
                        <img class="card-img-top w-25 rounded-circle mt-3 mb-3"style="max-width: 100px" src="{{ demand.getUser().photo }}" alt="">
                        <span class="card-text p-2">{{ demand.getUser().pseudo }}</span>
                        <h5 class="card-title m-0">{{ demand.title }}</h5>
                        <small class="text-muted"> {{ demand.getUser().location }}</small>
                        <p class="card-text mt-3 mb-3 overflow-hidden" style="height: 100px;">{{ demand.text }}</p>
                        <img class="card-img-bottom " style="width: 200px"src="{{ asset('photos/' ~ demand.photo) }}" alt="">

                        

        
                    </div>
                    
                    <div class="card-footer d-flex flex-wrap justify-content-between ">

                    {#  If the user is connected #}
                    {% if app.user %}

                        {#  If the connected user is NOT related w/ the demand #}
                        {#  And if the demand is NOT from the connected user #} 
                        {% if not related and not mine %}

                            {# Form to send the id of the demand to create the relation and the message for the Email #}
                            <form class="w-100" action="{{ path('app_demand_relation_new') }}" method="POST">
                            
                                <input name="demandId" type="hidden" value= "{{ demand.id }}">

                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Ecrivez un message à {{demand.user.pseudo}}</label>
                                    <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-outline-primary mt-3 mb-3">
                                    <span>Contacter</span>
                                </button>

                                {% if demand.dateModified %}
                    
                                <small class="text-muted align-self-end">Modifié le {{ demand.dateModified ? demand.dateModified|date('d-m-Y') : '' }}</small>

                                {% else %}
                    
                                <small class="text-muted align-self-end">Créé le {{ demand.dateCreated ? demand.dateCreated|date('d-m-Y') : '' }}</small>

                                {% endif %}
                                </div>
                                

                            </form>

                        {% else %}
    
                            {# if the demand is from the connected user #}
                            {% if mine %}

                                <div class="row">
                                    <div class="col">
                                        <a class="btn btn-secondary mt-3 mb-3" href="{{ path('app_demand_edit', {'id': demand.id}) }}">edit</a>
                                    </div>
                                    <div class="col">
                                        {{ include('demand/_delete_form.html.twig', {'id': demand.id}) }}
                                    </div>
                                </div>

                            {% endif %}
                    

            
                        
                            {#  If the connected user is related w/ the demand #}
                            {#  And if the demand is NOT from the connected user #}    
                            {% if related and not mine %}

                                <span class="mt-3 mb-3">Vous avez contacté: {{demand.user.pseudo}} </span> 

                            {#  If there is a demandRelation of this demand instance  #}
                            {# if the demand is from the connected user     #}
                            {% elseif relations and mine %}

                                <ul class="mt-3 mb-3">Vous avez été contacté par:
                                
                                    {#  Display all this demand's relations   #}  
                                    {% for relation in relations %}
                            
                                        <li> {{relation.user.pseudo}} </li>

                                    {% endfor %}

                                </ul>

                            {% endif %}

                            {% if demand.dateModified %}
        
                                <small class="text-muted align-self-end">Modifié le {{ demand.dateModified ? demand.dateModified|date('d-m-Y') : '' }}</small>

                            {% else %}
        
                                <small class="text-muted align-self-end">Créé le {{ demand.dateCreated ? demand.dateCreated|date('d-m-Y') : '' }}</small>

                            {% endif %}

                        {% endif %}

                    {% endif %}
                    
                
        
                    </div>
                </div>   
            </div>

        {% endif %}                
       
    </div>
</div>

{% endblock %}
