{# 
Sent by DemandController : 
            'demand'    => ( ENTITY )   The instance from the request for "demand" )
            'relations' => ( OBJ )      All the demandRelation of this demand instance )
            'related'   => ( BOOL )     True if user is related w/ the demand, else false 
            'mine'      => ( BOOL )     True if the demand is from the connected user, else false
#}

{% extends 'base.html.twig' %}

{% block title %}Demand{% endblock %}

{% block body %}

{# {{  dump(demand) }} #}
{# {{  dump(relations) }} #}
{# {{  dump(related) }} #}
{# {{  dump(myDemand) }} #}

    <h1>Demand</h1>


    <div class="card" style="width: 18rem;">
        <img class="card-img-top " style="width: 200px"src="{{ asset('photos/' ~ demand.photo) }}" alt="">
        <div class="card-body">
            <span class="card-title">{{ demand.user.pseudo }}</span>
            <h5 class="card-title">{{ demand.title }}</h5>
            <p class="card-text">{{ demand.text }}</p>

            {% if app.user %}
                {% if not related and not mine %}
                <form action="{{ path('app_demand_relation_new') }}" method="POST">
                
                    <input name="demandId" type="hidden" value= "{{ demand.id }}">

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Ecrivez un message à {{demand.user.pseudo}}</label>
                        <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">
                        <span>Contacter</span>
                    </button>
                </form>
            
                {% elseif mine %}

                <div class="row">
                    <div class="col">
                    <a href="{{ path('app_demand_edit', {'id': demand.id}) }}"><button type="button" class="btn btn-secondary">edit</button></a>
                    </div>
                    <div class="col">
                    {{ include('demand/_delete_form.html.twig', {'id': demand.id}) }}
                    </div>
                </div>

                {% endif %}
            {% endif %}

        </div>
    </div>

    {# If this demand has relation #}
    {#  And if this is NOT my demand #} 
    {% if app.user %}
            
        {% if related and not mine %}
            <span>Vous avez contacté: {{demand.user.pseudo}} </span> 

        {#  Else  #}    
        {% elseif relations and mine %}
            <ul>Vous avez été contacté par:
            
                {#  Display all this demand's relations   #}  
                {% for relation in relations %}
        
                <li> {{relation.user.pseudo}} </li>

                {% endfor %}

            </ul>
        {% endif %}

    {% endif %}
        
    <a href="{{ path('app_demand_index') }}">back to list</a>

{% endblock %}
