{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<header class="pt-5 pb-5 d-flex flex-wrap flex-column">
        <h1 class="text-center p-5" >Mon compte</h1>     
</header>
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col-10" style="min-width: 300px; max-width: 600px;">
                <div class="row align-items-center">
                    <div class="col-auto card-img-top photo-profile mt-3 mb-3">

                        {% if  app.getUser().photo %}
                            <img src="{{ asset('photos/' ~ app.getUser().photo) }}" alt="">
                        {% else %}
                            <img src="{{ asset('photos/default_photo_profil.png') }}" alt="">
                        {% endif %}

                        {# <img class="card-img-top w-25 rounded-circle mt-3 mb-3" src="{{ demand.getUser().photo }}" alt=""> #}   
                    
                    </div>
                    <div class="col ps-5">
                        <span class=" m-0 js-likes-length">{{ app.getUser().getLikeds() | length}}</span>
                        <i class="fa-solid fa-thumbs-up"></i>
                    </div>


                </div>


                {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

            </div>
        </div>
    </div>    
{% endblock %}
